body{
    background-color:blue;
    color:aquamarine;
}
h1{
    font-size:36px;
    color:bisque
    text-align:center;
}
h2{
    color:brown
    text-decoration:underline
    font-style:italic;
    font-weight:bold;

}
p{
    font-size:25px;
}
#pinkparagraph{
    color:pink;
}
.pretty{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', z-indi;10}

.header {
    z-index: ; 10;
}
.common {
    background-color:aliceblue;
    border:2px solid white;
    position: absolute;
}
.left{
    top: 115px;
    left: 15px;
    width:100px;
    bottom: 700px;

}
.main{
    top:115px;
    left:130px;
    right:140px;
    bottom: 40px;
}
.right{
    top:115px;
    right: 25px;
    width: 100px;
    height: 3000px;
}
footer{
    bottom: 10px;
    height: 100px;
    left: 15px;
    right: 25px;
    position:fixed;
    background-color:firebrick;

    border:2px saddlebrown

}
.purpletext{
    color:purple;
}
.redtext{
    color:red;
}